div{
    margin: 4px;
    border-radius: 8px;
    background-color: #3730a3;
    color: #f1f3f9;
    line-height: 120%;
}
h3{
    padding: 16px;
    margin-top: 16px;
}
p{
    margin-left: 12px;
}
dl{
    margin: 12px;
    padding: 8px;
    border-radius: 8px;
    background-color: #706da3;
    height: 30%
};
